
.contador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 120px;
}

.boton-contador {
    font-size: 29px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.boton-contador:hover {
    border: none;
}

.cantidad {
    font-size: 15px;

}
