body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(242, 245, 248);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding-top:169px;
}

#root {
  width: 100%;
  height: 100%;
}

